#title {
    text-align: center;
    background-color: rgb(15, 15, 15);
    padding: 10px;
    position: relative;
    color: white;
}
ion-item {
  --border-width: 0;
  font-size: 20px;
}
* {
  //background-color: rgb(37, 37, 37);
  font-weight: bold;
}