@media only screen and (min-width: 700px) {
  ion-item {
    margin-right: 12rem;
    margin-left: 12rem;
  }
}
@media only screen and (max-width: 699px) {
    ion-item {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
#title {
    display: block;
    padding: 1.2rem;
    position: relative;
    color: black;
    font-size: 20px;
}
#header {
    display: block;
    position: relative;
    color: black;
    font-size: 20px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
ion-item {
  font-size: 20px;
  background-color: rgb(38, 6, 155);
  border-radius: 10px;
  margin-bottom: 0.7rem;
  color: white;
}
* {
  font-weight: bold;
  text-align: center;
}
ion-input {
 display: block;
}