@media only screen and (min-width: 700px) {
  ion-item {
    margin-right: 12rem;
    margin-left: 12rem;
  }
}
@media only screen and (max-width: 699px) {
    ion-item {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
* {
    font-weight: bold;
    text-align: center;
}
ion-item {
  //--border-width: 0;
  font-size: 20px;
  border-bottom: 0px;
  background-color: rgb(38, 6, 155);
  color: white;
  margin-bottom: 0.7rem;
  //margin-right: 2rem;
  //margin-left: 2rem;
  border-radius: 10px;
}
ion-label {
    display: block;
    position: relative;
    margin-left: 1rem;
}
ion-select {
    font-size: 12px;
    color: white;
}
ion-back-button {
    text-align: left;
}
.resultsList {
    opacity: 1;
    font-size: 20px;
}
.notes {
    font-size: 15px;
    color: rgb(255, 255, 255);
}
#wellParametersTitle {
    font-size: 20px;
    margin-bottom: 1.5rem;
    display: block;
    position: relative;
}
#resultsTitle{
    background: rgb(223, 156, 81);
    opacity: 0.7;
    text-align: center;
    padding: 10px;
}
#resultButton{
     --background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
}
#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
#header {
    padding: 2rem;
    //text-decoration: underline;
    font-size: 25px;
    display: block;
    //border-radius: 10px;
    //background-color: rgb(129, 202, 70);
    margin-top: 2rem;
   // margin-right: 1rem;
}
#backButton {
    --margin-start: left;
}

