* {
    font-weight: bold;
}
ion-item {
  --border-width: 0;
  font-size: 20px;
}

.wellParameters {
    //background: rgb(34, 33, 34);
    opacity: 0.7;
}
.wellParametersTitle {
    background: rgb(56, 55, 56);
    opacity: 0.7;
    text-align: center;
    padding: 10px;
}
.options {
   // background: rgb(224, 138, 8);
    opacity: 0.7;
}
#resultsTitle{
    background: rgb(223, 156, 81);
    opacity: 0.7;
    text-align: center;
    padding: 10px;
}
.resultsList {
    //background: rgb(223, 156, 81);
    opacity: 0.7;
    font-size: 20px;
}
.notes {
    font-size: 15px;
    color: rgb(255, 255, 255);
}
#resultButton{
   
}