<ion-content padding>
  <ion-item lines="none" id="buttonItem">
    <ion-back-button slot="start" id="backButton" color="dark" text="Directory" defaultHref='/directory'></ion-back-button>
  </ion-item>
  <ion-header id="header">
    Bailer/Cement Plug Height Calculator
  </ion-header>
  <ion-header>
    <ion-title id="wellParametersTitle" color="custom">
      Well Parameters
    </ion-title>
  </ion-header>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label class="ion-text-wrap">Tubing OD/Wt.(in/ppf)</ion-label>
    <ion-select #mySelectTubingOD [value]="currentTubingOD" [selectedText]="currentTubingOD"
      (ionChange)="selectChangedTubing(mySelectTubingOD.value)">
      <ion-select-option *ngFor="let tubingODs of tubingOD" (selected)="tubingODs === currentTubingOD">
        {{ tubingODs }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label class="ion-text-wrap" >Casing OD/Wt.(in/ppf)</ion-label>
    <ion-select #mySelectedCasingOD [value]="currentCasingOD" [selectedText]="currentCasingOD"
      (ionChange)="selectChangedCasing(mySelectedCasingOD.value)">
      <ion-select-option *ngFor="let casingODs of casingOD" (selected)="casingODs === currentCasingOD">
        {{ casingODs }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label class="ion-text-wrap">Gravity Bailer OD(in)</ion-label>
    <ion-select #mySelectGrav [value]="currentBailSize" [selectedText]="currentBailSize"
      (ionChange)="selectChangedGravBail(mySelectGrav.value)">
      <ion-select-option *ngFor="let bailSize of bailSizes" (selected)="bailSize === currentBailSize">
        {{ bailSize }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label position="stacked">Min. Restriction or Drift ID, (in)</ion-label>
    <ion-input id="driftID" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label position="stacked">Well Deviation (degrees)</ion-label>
    <ion-input id="wellDeviation" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label class="longLabel" position="stacked">Time @ Surface: Rig up, and Riser(min)</ion-label>
    <ion-input id="timeAtSurface" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label position="stacked">Bailer Length(ft)</ion-label>
    <ion-input id="bailerLength" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label position="stacked">BHT (degrees of F)</ion-label>
    <ion-input id="bht" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label position="stacked">Plug Setting Depth (ft)</ion-label>
    <ion-input id="plugSettingDepth" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-item lines="none" class="wellParameters" color="custom">
    <ion-label position="stacked">Wireline Run Speed (ft/min)</ion-label>
    <ion-input id="wirelineRunSpeed" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-item lines="none" class="options" color="custom" class="wellParameters">
    <ion-label class="longLabel" position="stacked">OPTION 1: Enter height of cement placed</ion-label>
    <ion-input id="cementHeightDumped" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-item lines="none" class="options" color="custom" class="wellParameters">
    <ion-label position="stacked">OPTION 2: Enter ΔP required</ion-label>
    <ion-input id="plugTestPressure" placeholder="Enter Here"></ion-input>
  </ion-item>
  <ion-button lines="none" id="resultButton" shape="round" (click)="fetchTableValues()">Click here to calculate</ion-button>
</ion-content>

