@media only screen and (min-width: 901px) {
  ion-label {
    margin-right: 5rem;
    margin-left: 15rem;
    width: 20rem;
  }
  ion-button {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  ion-label {
    margin-right: 5rem;
    margin-left: 5rem;
    width: 20rem;
  }
  ion-button {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 699px) {
    ion-label {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 10rem;
  }
  @media only screen and (max-width: 350px) {
    ion-label {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 8rem;
  }
}
@media only screen and (max-width: 300px) {
  ion-label {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 7rem;
 }
}
  ion-button {
    margin-bottom: 2rem;
  }
}
#title {
    margin-top: 3rem;
    font-size: 30px;
}
ion-label {
    //width: 10rem;
    display: block;
    font-size: 12px;
    background-color: rgb(38, 6, 155);
    padding: 1rem;
    border-radius: 30px;
    color: white;
    margin-top: 1rem;
    text-align: center;
}
ion-button {
    margin-top: 1.5rem;
    margin-left: 2rem;
    --background-activated: black;
}
ion-grid {
    margin-top: 5rem;
}
ion-content {
    --ion-background-color: rgb(255, 255, 255);
}

