<ion-content>
  <ion-header>  
    <ion-title id="title">Directory</ion-title>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Bailer/Cement Plug Height Page</ion-label>
      </ion-col>
      <ion-col>
        <ion-button type="submit" class="buttons" shape="round" size="medium" (click)="redirect()">
           <ion-icon name="arrow-forward-outline"></ion-icon>
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Bailer/Cement Plug Height Page</ion-label>
      </ion-col>
      <ion-col>
        <ion-button type="submit" class="buttons" shape="round" size="medium" (click)="redirect()">
           <ion-icon name="arrow-forward-outline"></ion-icon>
         </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

